[2019-03-06 12:59] jamesmcclain opened #19 "Add Documentation and Comments"
This can be done at any time, but it might be advisable to wait until after testing when it will be known how much has to change.

[2019-03-06 13:06] jamesmcclain opened #20 "More Care in the "When" and "Where" of Spawning Duplicate Datasets"
This may or may not be required, depending on testing results, desire, priorities, &c.

[2019-03-07 20:40] pomadchin opened #22 "Add Mac OS dylib build publishment."
Right now if you'll try to run [this PR](https://github.com/geotrellis/geotrellis-contrib/pull/130) on Mac OS the following error would occur:

[code]

Mac OS `dylib` should be included into the `resources` directory of the `gdal-warp-bindings` artifact as well.

<img width="390" alt="screenshot 2019-03-07 at 15 41 16" src="https://user-images.githubusercontent.com/4929546/53987606-7c670b00-40ef-1

[2019-03-08 12:44] jamesmcclain commented on #22
There is already some (totally untested) support.

https://github.com/geotrellis/gdal-warp-bindings/blob/b1d353d5a6b2cc85f115fa6bfb57c1cf2406c948/src/Makefile#L7-L8

https://github.com/geotrellis/gdal-warp-bindings/blob/b1d353d5a6b2cc85f115fa6bfb57c1cf2406c948/src/main/java/com/azavea/gdal/GDALWarp.java#L57-L65

Try `OS=darwin SO=dylib make -C src tests` .  It will likely still fail unless your ve

[2019-03-11 20:00] pomadchin commented on #22
Closing it since it's covered by #23

[2019-03-11 20:00] #22 closed

[2019-04-03 19:38] metasim opened #33 "Provide means of getting file-level and band-level tags"
See: https://github.com/geotrellis/geotrellis-contrib/issues/143

[2019-04-03 20:42] metasim opened #34 "Provide mechanism for passing along GDAL settings"
_Not sure if this is the right place for this ticket_

Being able to support the following type of thing was really helpful in the old Swig variant.

[code]

[2019-04-03 20:53] metasim commented on #34
IOW, reinstate this:

https://github.com/geotrellis/geotrellis-gdal/blob/057eb1c8ed59fe49c08580e304d3d8b3b9100552/gdal/src/main/scala/geotrellis/gdal/config/GDALOptionsConfig.scala#L23-L33

[2019-04-03 20:57] metasim commented on #33
https://github.com/geotrellis/geotrellis-contrib/issues/99

[2019-04-03 21:08] pomadchin commented on #34
https://github.com/geotrellis/gdal-warp-bindings/blob/master/src/main/java/com/azavea/gdal/GDALWarp.java#L80

It’s more about a geotrellis-contrib issue now, since these bindings support gdal config options :)

[2019-04-03 21:11] metasim commented on #34
Replaced by https://github.com/geotrellis/geotrellis-contrib/issues/149

[2019-04-03 21:11] #34 closed

[2019-04-07 02:27] jamesmcclain commented on #33
We currently have support for reading a [number of metadata](https://github.com/geotrellis/gdal-warp-bindings/blob/e53ec75a3d411bc23ca76b509c4464e0ec42e2dc/src/main/java/com/azavea/gdal/GDALWarp.java#L84-L106).  Are there any that are missing?

[2019-04-08 15:02] metasim commented on #33
@jamesmcclain Would one of those provide access to the [`tags`](https://github.com/locationtech/geotrellis/blob/a268657f6ebd0eaf7e9db43796705abd71b994e6/raster/src/main/scala/geotrellis/raster/io/geotiff/reader/GeoTiffReader.scala#L241) field in the legacy reader? (My title wasn't specific enough, and should have called out "tags" instead.). My assumption was "no", and that what we need is the equ

[2019-04-08 15:06] jamesmcclain commented on #33
Ah, I see, I was unconsciously using a narrower definition of "metadata".  That should be very possible to add, I will do so.

[2019-04-21 11:10] #20 closed

[2019-04-21 11:10] #33 closed

[2019-04-29 23:54] metasim opened #37 "Core dump on on linux in `GDALOverviewBand::FlushCache`"
In the RasterFrames project, when running `sbt core/test` in CircleCI, the forked JVM process core dumps after the tests are (successfully) finished.

## Error

First the process reports

[code]

then the JVM terminates with

[code]

## Backtrace

`gdb` reports the following about the generated core file:

[code]

## Machine

[code]

## JVM

[code]

## Libraries

* `"com.azavea.geotrellis" %% "geo

[2019-04-29 23:59] pomadchin commented on #37
@metasim can you try to override in your deps gdal-warp deps and to catch this error and paste all th e same information here again in case it would fail again? I see that in your version some old `gdal-bindings` version is used.

[code]

[2019-04-29 23:59] metasim commented on #37
Note: The core dump does not happen on MacOS.

The version of RasterFrames triggering this is locationtech/rasterframes@82223567f7a359f661175bb6e560b0c0c210cd26

The test invocation command is [here](https://github.com/locationtech/rasterframes/blob/82223567f7a359f661175bb6e560b0c0c210cd26/.circleci/config.yml#L73) (nothing special).

[2019-04-30 00:11] metasim commented on #37
With `"gdal-warp-bindings" % "33.2bc7bbf"` I get this:

[code]

[2019-04-30 00:12] pomadchin commented on #37
Thanks @metasim!

[2019-04-30 00:12] pomadchin commented on #37
@jamesmcclain I marked it as a potential bug ):

[2019-04-30 00:13] metasim commented on #37
cc: @vpipkt

[2019-04-30 01:21] jamesmcclain commented on #37
I just successfully ran `sbt "project core" test` locally.

Does CircleCI by any change run its tests within Docker containers?  There are (apparently) long-standing issues with the use of forked tests under `sbt` when running in Docker.  I cannot find the links right now, I will try to find them tomorrow morning.

[2019-04-30 10:01] jamesmcclain commented on #37
I am looking for `sbt.ForkMain 38015 failed with exit code 134` or similar in the CI logs and not able to find it.  Did you observe that on CI or in a local Docker container while debugging the tests?

I think that I need more details about how precisely to reproduce this.

**EDIT:**  I ran the rasterframes tests locally (on Linux) both within and without Docker (branch [here](https://github.com/l

[2019-04-30 14:18] metasim commented on #37
@jamesmcclain Not sure why the test can't write to `target`... the current working directory doesn't seem to be what's expected. Can you do it without whatever that `sbt` script is and use the normally installed `sbt`?

Here's the CircleCI log, but I'm not sure if you can see it; let me know:

https://circleci.com/gh/s22s/rasterframes/317

[2019-04-30 14:18] metasim commented on #37
Also, you need to `fork in Test` otherwise you'll get `SparkContext` collisions.

[2019-04-30 14:26] metasim commented on #37
Here's the CircleCI sbt output if you still need it:

https://gist.github.com/metasim/88f14ec5d940aa252eca97c7dcc43501

[2019-05-01 17:46] jamesmcclain commented on #37
@metasim This PR fixes the problem for me: https://github.com/geotrellis/gdal-warp-bindings/pull/38 .  Running `sbt "project core" test` used to exhibit the problem about three times in every four runs.  I have run it four times in a row with this in place and not seen the problem.

Just to document what I did for future reference, I invoked Docker like this `docker run -it --rm -v $(pwd):/workdir

[2019-05-01 18:01] jamesmcclain commented on #37
Feel free to reopen if the problem pops up again.

[2019-05-02 12:57] metasim commented on #37
@jamesmcclain Not sure I understand the reasoning behind statically linking `libstc++`, but are the implications that we can only run on certain Linux versions? (IOW, is it as tied to the os as `libc`.... or is it just the standard template libraries, etc?). Wish I could offer alternatives, but it's been 10 years since I've written any C++ of note.

[2019-05-02 13:03] jamesmcclain commented on #37
This issue is related to incompatible differences in name mangling ([ABI](https://en.wikipedia.org/wiki/Application_binary_interface) differences) in different versions of `libstdc++`.  Typically, a shared library that depends on it can only run on a machine with a compatible version installed.  Linking to it statically avoids that problem (so an old installation with only gcc 4 installed can work

[2019-05-02 13:21] metasim commented on #37
If this ends up *not* working, the last paragraph [of this SO](https://stackoverflow.com/a/14082540/296509) provides an alternative via `RPATH` (something I think is common on MacOS, and I didn't realize you could do it on Linux too).

[2019-05-02 13:27] jamesmcclain commented on #37
I'm going to be taking a closer look at this today, as it appears the shared library might still depend dynamically on `libstdc++` (so the portability benefit that I mentioned might not currently exist).

Edit:
No, it appears to be working as expected
[code]

[2019-05-02 13:55] metasim commented on #37
@jamesmcclain  I'm now getting this on MacOS, and the JVM is crashing:

[code]

[2019-05-02 14:00] metasim commented on #37
Based on the SO linked above, ABI problems in GCC have been stabilized for a number of years. Have you found otherwise? Also, if the dynamic library is linked against the numbered version of `libstdc++`, wouldn't the worse case be that you get a link error and just have to install the right library version? For example, with `gdal` if you link with `-lgdal`, the actually library (in this scenario)

[2019-05-02 14:03] metasim commented on #37
@jamesmcclain FYI, I don't have perms to reopen this.

[2019-05-02 14:33] jamesmcclain commented on #37
So you see the same issue on CI and this in addition, or is the CI problem fixed?

[2019-05-02 15:23] metasim opened #39 "Feature: provide programmatic means of querying GDAL version"
This would help with reporting bugs, and ensuring the version of GDAL selected at execution time is the one intended.

[2019-05-02 15:36] metasim commented on #37
@jamesmcclain I think this is the relevant backtrace frame on MacOS:

[code]

This is the version/configuration of RasterFrames:

https://github.com/locationtech/rasterframes/tree/bug/gdal-crash

Here's the `gdal-warp-bindings` version:

https://github.com/locationtech/rasterframes/blob/bug/gdal-crash/project/RFDependenciesPlugin.scala#L63

Invoke with:

[code]

[2019-05-02 15:38] jamesmcclain commented on #37
Okay, thanks.

Is it working well on Linux?

[2019-05-02 15:39] metasim commented on #37
The tests pass on Linux.

[2019-05-02 15:40] metasim commented on #37
The tests pass on Linux. But I worry it's a [Heisenbug](https://en.wikipedia.org/wiki/Heisenbug).

[2019-05-02 16:35] jamesmcclain commented on #37
@metasim Please take a look at #40 which is published at https://bintray.com/beta/#/azavea/geotrellis/gdal-warp-bindings/33.XXX?tab=overview .  It seems to be passing for me in the container (running over-and-over in a tight loop for an hour at time of writing), and should work well on MacOS (because the `fini` routine was not compiled into that version).

Re Heisenbugs: if you were disquieted by

[2019-05-02 17:27] metasim commented on #37
Thanks for that! And don't worry too much about me being "disquieted"... this is open source and I'm grateful for the work!! Just an obtuse way of saying "I might find a different way of doing it".

Have you ever used [`valgrind`](http://valgrind.org/)? Once configured, it can help with tracking down double destructor/dalloc calls, memory errors, array out of bounds, etc.

[2019-05-02 17:32] jamesmcclain commented on #37
:-)

Yes, I have used Valgrind quite a bit.  I used Helgrind and DRD extensively to ensure thread safety.  Very useful tools.

[2019-05-02 19:34] metasim commented on #37
@jamesmcclain I just ran our integration tests on MacOS at [this commit](https://github.com/locationtech/rasterframes/tree/b1ebac00475b603777ed87d5c9ca37286d429f37)

[code]

using

[code]

and got a core dump (this time with a nice JRE formatted log)

[hs_err_pid71665.log](https://github.com/geotrellis/gdal-warp-bindings/files/3140033/hs_err_pid71665.log)

[2019-05-02 19:40] jamesmcclain commented on #37
Okay, I'll take a look at it.

Would you mind pasting in a diff that demonstrates how to use `dependencyOverrides`, because I was not able to get it to work this afternoon.

This looks like it may be a different issue from the one that we have been discussing, but we might as well continue the discussion here.

[2019-05-02 21:41] jamesmcclain commented on #37
Unfortunately, I cannot reproduce this.  I am going to have to ask a Macintosh owning colleague to help me out tomorrow.

[2019-05-03 14:41] jamesmcclain commented on #37
Okay, the unit tests ran all night without incident, so without objection, I would like to consider the original issue resolved.  I am now looking into the second one.

[2019-05-03 15:55] pomadchin commented on #37
hey @metasim I'm running on the current develop branch the following test:

[code]

using
[code]

It looks like I don't see any core dumps. Are you sure that you have all deps updated? I noticed that you use couriser by default here, it can be your build caches issue. Can you try to cleanup your couriser cache and targets folders and to confirm that you see this bug? Or you've already done everyth

[2019-05-03 15:56] jamesmcclain commented on #37
Also, would all Macintosh users please report their operating system versions and GDAL versions?

[2019-05-03 15:58] pomadchin commented on #37
@jamesmcclain

[code]

[2019-05-03 16:10] jamesmcclain commented on #37
`33.XXX` has been removed and replaced by `33.3f7a866`.

[2019-05-03 17:25] jamesmcclain opened #42 "Add JavaDocs to GDALWarp.java"

[2019-05-03 17:29] metasim commented on #37
[code]

I _think_ GDAL is the following:

[code]

That said, I know it can be confusing to know exactly what versions of shared libraries are getting loaded at runtime, so I added [this feature request](https://github.com/geotrellis/gdal-warp-bindings/issues/39) in hopes to make that easier.

[2019-05-03 17:30] pomadchin commented on #37
@metasim pretty confusing. I have the only one version of GDAL installed because of the versions issues I had in the past :D

[2019-05-03 17:54] #39 closed

[2019-05-03 18:56] jamesmcclain commented on #39
A version with this feature has been published as https://bintray.com/beta/#/azavea/geotrellis/gdal-warp-bindings/33.29f906d?tab=overview

[2019-05-05 17:24] jamesmcclain commented on #37
I was unable to reproduce the problem either (although I ran `sbt "core/it:testOnly org.locationtech.rasterframes.ref.RasterSourceIT"` only five times because of the length of the tests and how much they are [presumably] downloading).

![Screenshot_2019-05-05_12-40-14](https://user-images.githubusercontent.com/11281373/57197742-eefe3680-6f38-11e9-9af4-9c3fd806e823.png)

[2019-05-06 13:36] metasim commented on #37
@jamesmcclain Let's give it a few days and then close if nothing is scared up again. FWIW, it was working for me on Linux too. I'll retest on MacOS.

[2019-05-06 13:44] jamesmcclain commented on #37
Okay, that sounds good.

[2019-05-08 16:06] jamesmcclain commented on #37
Okay to close?

[2019-05-08 19:10] #37 closed

[2019-05-14 18:37] jamesmcclain commented on #42
Closed by #44

[2019-05-14 18:37] #42 closed

[2019-05-30 01:08] jamesmcclain opened #45 "Add Time-Based Limits"
Currently there is only the ability to limit the number of retries.

[2019-06-11 01:51] jamesmcclain opened #48 "Review JNI Code for Unsafe Behavior"

[2019-06-11 14:22] jamesmcclain opened #49 "Remove All Instances of `pthread_mutex_lock`"
Remove or otherwise ensure that there is no deadlock

[2019-06-12 19:36] #45 closed

[2019-06-12 19:36] #49 closed

[2019-07-02 16:11] metasim opened #51 "SIGSEGV On MacOS"
## Reproduce

Clone  `s22s/rasterframes`, branch `feature/gdal-warp-upgrade`.

Or https://github.com/s22s/rasterframes/tree/feature/gdal-warp-upgrade

Then run:

[code]

## Result

Stop of stack
[code]

Full report:
[hs_err_pid38339.log.zip](https://github.com/geotrellis/gdal-warp-bindings/files/3350941/hs_err_pid38339.log.zip)

## Environment

### GDAL

[code]

[code]

### Machine

[code]

### JV

[2019-07-02 16:17] metasim commented on #51
NB: Does *not* happen on Linux.

[2019-07-02 16:18] pomadchin commented on #51
I will try to reproduce it on my machine:

* MacOS 10.14.5 (18F132)
* GDAL 2.4.1 installed via brew

[2019-07-02 16:20] metasim commented on #51
~~I think it's happening in the JPEG2000 test.~~ Actually, from the backtrace it looks like the MRF test.

[2019-07-02 16:27] metasim commented on #51
More version info:

[code]

[2019-07-02 18:41] jamesmcclain commented on #51
Preliminarily, this looks like it may be an issue related to the [MRF driver](https://gdal.org/drivers/raster/marfa.html).  The stack trace shows execution passing through `libgdalwarp_bindings.dylib` and through the core of GDAL, then into the MRF driver where it encounters a problem.

In order to investigate further, it might help us to have a core file if we are not able to reproduce the proble

[2019-07-03 14:23] jamesmcclain commented on #51
@metasim I was not able to reproduce (please check the top left of the screenshot to ensure that I typed the correct command to launch the tests [I did so without the single quotes around the last two arguments and got the same result]).

![Screenshot_2019-07-03_10-23-29](https://user-images.githubusercontent.com/11281373/60599558-ac13e000-9d7c-11e9-9dcf-2aae7839749c.png)

I did noticed that I hav

[2019-07-03 15:59] metasim commented on #51
I didn't realize the non osgeo `gdal` would work. I'll uninstall the `osgeo` one and try things out. Thanks for hunting down that difference.

[2019-07-03 16:03] jamesmcclain commented on #51
No problem, my fingers are crossed!

[2019-07-03 16:55] metasim commented on #51
:( Still getting the crash. I'm inclined to close it because it appears to be unique to me. I can provide a `core` file if it's helpful. Here's what I came up with:

[code]

I walked up the stack some running `frame variable` to see if I could get the function parameters but `lldb` didn't report anything.

e.g.

[code]

Not sure from [this](https://github.com/geotrellis/gdal-warp-bindings/blob/mas

[2019-07-03 16:55] #51 closed

[2019-07-03 16:57] pomadchin commented on #51
My update: I could not reproduce it on my machine :/

[2019-07-03 17:06] metasim commented on #51
Thanks guys. Sorry to waste your time.

[2019-07-03 17:06] jamesmcclain commented on #51
Ah, okay, that is unfortunate.

I am happy to revisit this issue later, if there is impetus.

[2019-07-03 17:07] jamesmcclain commented on #51
No problem!  I appreciate the engagement!

[2019-07-15 16:16] jbouffard opened #52 "Return GDAL Error Codes on Failure"
Right now, we just return a negative number or a `Boolean` instead of an error code when an operation fails (see [ex 1]( https://github.com/geotrellis/gdal-warp-bindings/blob/5523882898c6df651e4ea873595dfcf8dc0dbfb6/src/main/java/com/azavea/gdal/GDALWarp.java#L199) and [ex 2](https://github.com/geotrellis/gdal-warp-bindings/blob/5523882898c6df651e4ea873595dfcf8dc0dbfb6/src/main/java/com/azavea/gda

[2019-07-16 14:37] metasim opened #53 "`get_version_info` is padded with 0x00"
A minor issue, but it would be nice if the results from `get_version_info` were trimmed.

[code]

The `?` values are actually `0x00`.

[2019-07-16 15:26] pomadchin commented on #52
I will add, that at this point there is no needs in changing methods semantics, but it is possible to add separate fields to fill it with message and with an error code for the each method call. There was also some discussion https://github.com/geotrellis/geotrellis-contrib/pull/211#discussion_r303974360 and mentioning @metasim here.

[2019-07-16 16:00] metasim opened #54 "Q: How to determine buffer sizes to use for metadata query?"
I'm looking at pulling metadata using [these APIs](https://github.com/geotrellis/gdal-warp-bindings/blob/58d496521695b4bae2b7f7ab7d1f17140be0a569/src/main/java/com/azavea/gdal/GDALWarp.java#L204-L250). Each of the three calls requires a pre-allocated byte-buffer for storing the results. I'm not super familiar with the concept of "metadata domains", or if there are limitations on the size of values

[2019-07-16 16:03] pomadchin commented on #54
hey @metasim there is no a clear answer, but I think your request can be considered as an API optimization... At this point I'm using [this](https://github.com/pomadchin/geotrellis-contrib/blob/770f0a49918ad7b55ec791c0a76504f2aa169d4e/gdal/src/main/scala/geotrellis/contrib/vlm/gdal/GDALDataset.scala#L27-L58) approach :/ but it will definitely become a performance issue at some point.

[2019-07-16 16:07] metasim commented on #54
@pomadchin that's super helpful.... I didn't realize this was already implemented, but then realized I'm still on the 2.x branch of contrib, which probably doesn't have this stuff in it. I'm stuck in this quandary of not wanting to deliver RF based on GT 3.0-SNAPSHOT, but also wanting bleeding edge versions of contrib. For the time being I'll copy this code over (with attribution) and remove once

[2019-07-16 16:07] pomadchin commented on #54
@metasim it is in progress, I will create a PR and will mention you in it. I work on some good metadata API that will work for GeoTrellis, GeoTiff and GDAL backends

[2019-07-16 16:09] metasim commented on #54
FWIW, My current plan is to just translate this stuff into the legacy `Tags` structure, until something "mo betta" is in place.

[2019-07-16 16:14] pomadchin commented on #54
@metasim `Tags` structure is not bad, since GDAL metadata is isomorphic to our `Tags` structure; however mb it makes sense to use some OGC type (thats what im trying to figure out); see https://github.com/geotrellis/geotrellis-contrib/issues/181

[2019-07-16 16:22] metasim commented on #54
@pomadchin Follow-on question:
Does it make a difference (semantically, and performance-wise) if you call

[code]

vs

[code]
?

[2019-07-16 16:24] pomadchin commented on #54
@metasim it is a great question. as you know initially there were issues with how SOURCE and WARP operate with cellSizes. So potentially there can be differences. I think that we need to use SOURCE when the type of the RasterSoruce is nontransformed and WARP when at least one warp step was applied. This logic is currently here: https://github.com/geotrellis/geotrellis-contrib/blob/master/gdal/src/

[2019-07-16 16:32] metasim commented on #54
Actually, I just proved to myself that there's a difference. In my test image, the following values disappear when using `WARPED`:
[code]

Wonder if it brings up a discussion as to what the default mode should be? I'm going to be explicitly using `SOURCE`.

[2019-07-18 11:02] jamesmcclain commented on #54
@metasim , as @pomadchin said, one should use SOURCE or WARPED depending on which one you are most directly concerned about.  The reason that they are associated together (that is, both available through the same handle) is that they are associated at a lower level and it made sense to expose as much underlying information as possible (instead of asking the user to open up another non-warped datas

[2019-07-18 11:26] jamesmcclain commented on #54
Because the GDAL C api does the allocation of the return buffers itself (taking [`GDALGetMetadataDomainList`](https://gdal.org/api/raster_c_api.html#_CPPv425GDALGetMetadataDomainList16GDALMajorObjectH) as an example), there is really no a priori way in the JNI code to know how large that needs to be (that I know of).

It is possible to do the actual allocation in the JNI code.

Before setting out

[2019-07-18 11:31] jamesmcclain commented on #52
Ah, those docstrings did not get updated, those are actually integers not booleans.  I will see if I can fit the GDAL error codes in there as negative return values.

[2019-07-18 14:50] #53 closed

[2019-07-22 11:12] #52 closed

[2019-07-22 19:21] metasim commented on #54
@jamesmcclain I was planning on submitting a ticket on this once I quantified it a bit, but we potentially call the metadata functions multiple times per DataFrame row (depending on caching), but even in the single row case, the performance is abysmal compared to the JVM reader. So yes, currently calling the "give me all the things" method a lot.

Here's the specific implementation I've prototyped

[2019-07-22 19:22] metasim commented on #54
PS: I've done some lightweight profiling in Visual VM, and most of the time is in the JNI code.

[2019-07-22 19:40] metasim commented on #54
Not sure if this is helpful, but here's the execution time breakdown, representing 85% of the thread's CPU time when reading the metadata for a single image.

<img width="1357" alt="Screen Shot 2019-07-22 at 3 36 21 PM" src="https://user-images.githubusercontent.com/131013/61660021-f65ef180-ac96-11e9-8509-5152c2462f65.png">

[2019-07-22 21:41] jamesmcclain opened #57 "Early Detection of File Not Found"
[code]

[2019-07-23 13:39] jamesmcclain commented on #54
Perhaps the next step would be to compare the performance to the stock GDAL bindings.  If their performance is acceptable, it might be worth considering using them for metadata retrieval as a stop-gap.

The reason that I am suggesting that, is because I would like to get a clear view of whether the problem is just FFI overhead or whether it is something else.

[2019-07-23 13:42] jamesmcclain commented on #54
I am not sure how to interpret this image.

[2019-07-24 02:25] jamesmcclain commented on #54
I did some tight-loop testing of metadata calls and got these results
[code]
where the first line measures calls to the `noop` operation in a tight loop, the second measures calls to `get_metadata_domain_list` (a function in this library) in a tight loop, and the third measures calls to GDAL's `GDALGetMetadataDomainList` in a tight loop.  As you can see, the second is close to being a sum of the f

[2019-07-24 02:41] jamesmcclain commented on #54
@metasim, I forgot that I had disabled optimizations in order to make certain issues easier to debug.  These are the results that I get at level `-O4`:
[code]

Again, the first line is library overhead, the last line is raw GDAL, the middle line is wrapped GDAL.  In your case, there is still FFI overhead to consider since you are using the JVM.

@pomadchin

[2019-07-24 13:41] jamesmcclain commented on #54
So just to summarize, revise, walk-back, and walk-forward, my current suggestions are the following:

1. Apply the patch given below and build a jar with optimized code by running the `.travis/tests.sh` script.  If the results meet your needs, then we can think about ways to publish optimized as well as debug versions of this library.
2. If the above does not meet your needs, please consider using

[2019-07-24 16:01] pomadchin commented on #54
@metasim can you provide some examples even as an integration test for raster frames?
I also noticed (or it seemed to me that I noticed) some slow calls comparing to common gdal bindings, I will double check that and benchmark (via jmh) and throw the results here.

[2019-07-24 16:06] jamesmcclain commented on #54
Also it is unclear whether the problem is a result of the core library itself or the JNI part of it (that is, the preallocated array and surrounding activities).  My instinct is that the (relatively small) contiguous allocation associated with the preallocated array should not be causing a problem (it should be created in the area for the most ephemeral allocations and should go away quickly, and

[2019-07-24 17:22] metasim commented on #54
I'll have to look into it more when I can, but my suspicion is that the performance problem is all in having to preallocate arrays and all the associated data copying that occurs. I'm 99.99% sure it has nothing to do with whether it's threaded or not. If we're able to have the JNI bindings take care of allocating JVM `String` arrays that are of the correct size and length, the problems would go aw

[2019-07-24 17:26] metasim commented on #54
My 2¢: This would only work for GeoTIFFs (at least currently). Furthermore, I really think this is a function of all the memory copies that have to happen to overallocate space when we don't know up front how many domains there are, how many keys per domain, the size of those keys, and the size of the values. If we had C-level functions to ascertain this we could at least handle the data manipulat

[2019-07-24 17:46] jamesmcclain commented on #54
All of that is totally reasonable and well taken.

Before proceeding, I would be interested to see a quantitative comparison of the unoptimzed published binaries and the optimized ones that I suggested above.

[2019-07-24 17:59] jamesmcclain commented on #54
Just to be clear: this will be addressed **regardless** of the results of the experiment that I suggested [here](https://github.com/geotrellis/gdal-warp-bindings/issues/54#issuecomment-514732006) and [here](https://github.com/geotrellis/gdal-warp-bindings/issues/54#issuecomment-514637115).  I would still be greatly obliged if that could be done (talking specifically about point 1 from [here](https

[2019-07-25 12:55] metasim commented on #54
I'm on a release train with a couple of projects and need to keep my focus therte, but hope to give this deserved attention after the turn of the month.

[2019-07-25 13:18] jamesmcclain commented on #54
Understood.  Can you point me to the branch that you have been using for testing?

[2019-07-25 13:37] metasim commented on #54
@jamesmcclain Is this what you mean?

https://github.com/locationtech/rasterframes/pull/194

This is my current suspect (not the actual call, but what it causes the C code to do as a result). This is just code I copied from and old commit here by @pomadchin , so it may have already improved, but it was the impetus for this question:

https://github.com/locationtech/rasterframes/pull/194/files#diff

[2019-07-25 13:45] jamesmcclain commented on #54
I think so.  I am looking for whichever branch you used to produce the results reported above and/or whichever branch you noticed unsatisfactory timings.

[2019-07-25 14:40] metasim commented on #54
@jamesmcclain OK, here's where I noticed a problem:

https://github.com/locationtech/rasterframes/pull/194/files#diff-de6154eceedaca595b2c97b5792e1c58R119

[2019-07-27 12:25] #57 closed

[2019-07-29 02:24] jamesmcclain commented on #54
Okay, thanks for the link.

I have not done anything with that repository, yet, but I did do some [other testing](https://github.com/geotrellis/gdal-warp-bindings/pull/59#issuecomment-515685194).

[2019-07-30 15:09] jamesmcclain opened #60 "Print Error Codes and Severities in Custom Handler"

[2019-07-31 11:55] #60 closed

[2019-08-01 19:03] jamesmcclain opened #62 "Respect CPL_MAX_ERROR_REPORTS"

[2019-08-06 17:37] #62 closed

[2019-09-23 20:42] #48 closed

[2019-10-24 14:39] echeipesh opened #65 "Publish project to SonaType"
This project is currently dependency of `geotrellis-gdal` which is published to SonaType for public and easy consumption. However since `goal-warp-bindings` are not similarly published the geotrellis project can't be fully resolved.

Specifically this will enable pulling in geotrellis into spark shell and notebooks with `--packages` flag.

[2019-11-04 11:56] jamesmcclain commented on #65
- [Account](https://central.sonatype.org/pages/ossrh-guide.html)
- [Upload](https://support.sonatype.com/hc/en-us/articles/115006744008-How-can-I-programmatically-upload-files-into-Nexus-3-)
- [Test CircleCI Configuration w/ Committing](https://discuss.circleci.com/t/running-new-config-files-without-committing/11842)
[code]

[2019-11-18 20:03] pomadchin opened #70 "NETCDF / HDF5 Metadata retrieval issue"
## Describe the bug ##

Getting the metadata of the NETCDF file can not be performed.
So performing a `GDALWarp.get_metadata_domain_list(token, datasetType.value, numberOfAttempts, band, arr)` of a file that consists of multiple `SUBDATASETS` seems to be not possible, even with reading the metadata for the entire file (specifying the band = 0))

## To Reproduce ##

1. download a file (`rarchv.2008

[2019-11-18 20:11] pomadchin commented on #70
Assigned myself to look into it deeper and to add more examples / details about the bug.

[2019-11-19 14:12] #65 closed

[2019-12-09 14:35] pomadchin opened #71 "Expose GDALDataType sign"
We would like to extend the API to get information about the dataType sign:
https://gdal.org/api/raster_c_api.html#_CPPv420GDALDataTypeIsSigned12GDALDataType

Several options can be done:

1. get_band_data_type signature will change a bit (it will return a tuple of datatypes and dataSigns)
2. implement a separate function (this can lead to an extra JNI query).

This is an improvement we can try to

[2019-12-09 16:03] metasim commented on #71
I'd go with 1)

[2019-12-26 21:02] pomadchin commented on #70
The story here, is that both `SOURCE` and `WARP` Datasets are [always created here](https://github.com/geotrellis/gdal-warp-bindings/blob/master/src/locked_dataset.hpp#L695-L703). But for netCDFs (or other files) it can be impossible sometimes to create a Warp object:

[code]

[2019-12-27 00:33] pomadchin commented on #70
@jamesmcclain I tried to use [this hack / feature](https://github.com/OSGeo/gdal/blob/21876b6c122a2a0a7cb24311b38c81942cdd4dc3/gdal/gcore/gdal_misc.cpp#L3509-L3514) to workaround this issue with minimal changes in the code, but it looks like I can't call `CPLTurnFailureIntoWarning` function for some reason.

[2019-12-27 00:35] pomadchin commented on #70
I think the right solution in this case would be to fail only when the `SOURCE` can not be created and to hide `WARPED` exception until the call time. How do you feel about that (making it ~ lazy)?

[2020-01-01 16:28] vpipkt opened #72 "Assertion failed on parallel reads"
## Describe the bug ##

I am developing a job in RasterFrames that uses this library and I (sometimes) receive several illegal argument messages, then finally a failed assertion error, process crash and core dump. The job is reading many JP2 (sentinel 2 PDS) files in parallel. The error seems to happen on non-deteriministic files. I have tried reading the files mentioned in the errors and the erro

[2020-01-01 19:33] jamesmcclain commented on #72
Thank you for the detailed report!

Would it be possible for you to put the core file on S3 somewhere and share the location with me?

[2020-01-01 19:38] jamesmcclain commented on #71
@pomadchin do you want to do this, or shall I?

[2020-01-01 19:42] pomadchin commented on #71
@jamesmcclain It is up to you 💯 ! once I'll have time I will look into it for sure (if you won't have a chance to look into it) but I don't know when it will happen, so you're more than welcome to work on this issue (if you want or have time).

[2020-01-02 02:34] jamesmcclain commented on #71
Okay, sounds good.

[2020-01-02 17:50] metasim opened #73 "MacOS build assumes libgdal via Homebrew"
Evidenced by looking at the dylib loading rules:

[code]

Build build should be updated to rely on the standard system lookup rules. Not sure how or what is injecting the  `@@HOMEBREW_PREFIX@@` bit.

The common use case is that users will have gdal via a `conda` or `pip` install.

Add'l context: https://gitter.im/geotrellis/geotrellis?at=5dcdbf95ea7d147cb37d438c

[2020-01-02 18:09] pomadchin commented on #70
The code that fails when trying to call a `CPLTurnFailureIntoWarning` function: https://github.com/pomadchin/gdal-warp-bindings/commit/02309c64f30572d22ebee254bdd0d981ca249fcc

Failure message:
[code]

[2020-01-02 18:45] jamesmcclain commented on #70
I confirmed that GDAL 2.2.3 is the version currently in the build container.  I will upgrade it to a 2.4 version this evening.

[2020-01-02 19:30] vpipkt commented on #72
Can you access this? It should be public: [`https://s22s-public.s3.amazonaws.com/gdal-warp-bindings-72/core.25663`](https://s22s-public.s3.amazonaws.com/gdal-warp-bindings-72/core.25663)

[2020-01-02 19:36] jamesmcclain commented on #72
Yes, thanks very much.  I sent you a message on gitter.

[2020-01-02 20:21] jamesmcclain commented on #73
- https://gitter.im/locationtech/rasterframes?at=5dcdbfef6ba2347d2d943c5c
- https://stackoverflow.com/questions/33991581/install-name-tool-to-update-a-executable-to-search-for-dylib-in-mac-os-x
- https://stackoverflow.com/questions/24377639/can-i-change-homebrews-prefix/43326645#43326645

[2020-01-02 22:14] #54 closed

[2020-01-03 14:38] vpipkt commented on #72
The python script references this file. A dataframe full of S3 URI's for sentinel 2 PDS JP2 files.

[large_catalog.csv.zip](https://github.com/geotrellis/gdal-warp-bindings/files/4019455/large_catalog.csv.zip)

[2020-01-03 16:27] jamesmcclain commented on #72
Thanks much.

[2020-01-16 00:12] pomadchin commented on #72
I still could not reproduce the issue, however, if `[116 of 1000] FAILURE(3) CPLE_IllegalArg(5) "Illegal argument."` and `assertion` issues are connected somehow - this can be also a driver / vsicurl issue;

GDAL [2.4.3](https://github.com/OSGeo/gdal/blob/v2.4.3/gdal/NEWS) and [2.4.4](https://github.com/OSGeo/gdal/blob/v2.4.4/gdal/NEWS) contained lots of fixes related to jp2k fixes and VSICURL mul

[2020-01-16 14:30] vpipkt commented on #72
@pomadchin  I have not already tried GDAL 2.4.4, that is excellent to know.

Another note is that this bug is very much non-deterministic. I think the procedure above is pretty reliable about producing the bug. But the environment specifics seem to matter a lot.

If my hunch is correct about it, we may be able to tweak the spark job  to make it more (for debugging) or less (for getting the job to

[2020-01-16 14:41] pomadchin commented on #72
@vpipkt thanks! I'm working towards making this bug more deterministic and to find a way to make this debugging cycle less complicated.

[2020-01-16 14:47] vpipkt commented on #72
Yes just reproduced again in the exact configuration described above. However I realize that presents challenges for debugging and development ...

[2020-01-16 15:41] vpipkt commented on #72
I'm currently trying to reproduce with GDAL 2.4.4... hurdle here is getting GDAL upgraded ...

I also tried changing the partitioning scheme in the spark job to try to co-locate reads of the same file to the same executor / core. My attempt did not help, with GDAL 2.4.2 I get the same error for either partitioning strategy.

[2020-01-16 15:43] pomadchin commented on #72
@vpipkt I appreciate your help with that; If you could run the same with GDAL 2.4.4 and reproduce it it could be awesome.

I remember that I had some similar issues with `rasterio + vsis3` (it randomly could throw same / similar exceptions and it was impossible to reread the file in the same session, and the only workaround was to reboot or to copy files onto a local fs and work with them locally)

[2020-01-16 20:51] vpipkt commented on #72
Output from `minimal.py` with [this container](https://hub.docker.com/repository/docker/vpipkt/rasterframes-circleci/tags?page=1), upgraded to GDAL 2.4.4 and `pip install --user pyrasterframes==0.9.0RC1`

[code]

A second attempt also failed in the same manner after much longer compute and finishing ~154 tasks.

So GDAL 2.4.4 is no magic bullet.

[2020-01-16 20:56] pomadchin commented on #72
@vpipkt thanks for checking that!

[2020-01-18 21:39] pomadchin commented on #72
@jamesmcclain I think our theory about a bad behaviour in case LRU cache is much smaller than the amount of threads is kinda correct [link to a modifed code; only init(1) is important here](https://github.com/geotrellis/gdal-warp-bindings/commit/b41200599b6eae4eac354f955c5e0b77373402fa). The idea of this experiment is that LRU cache size is 1 and we spawn lots of threads;

P.S. I compiled it with

[2020-01-20 00:15] jamesmcclain commented on #72
Okay, that is great information.  It looks like active datasets are being evicted.

[2020-01-21 16:43] jamesmcclain commented on #72
@pomadchin

It looks like the [TRYLOCK in lock_for_deletion](https://github.com/geotrellis/gdal-warp-bindings/blob/9be712d2d858ab75ebc7cf40bb13f9b67213d021/src/locked_dataset.hpp#L635) may be causing the function to [erroneously return true sometimes](https://github.com/geotrellis/gdal-warp-bindings/blob/9be712d2d858ab75ebc7cf40bb13f9b67213d021/src/locked_dataset.hpp#L45-L51).

Use of that macro t

[2020-01-21 22:05] jamesmcclain opened #77 "Branches on the Main Fork Shouldn't Generate Snapshots"
Branches on the main fork seem to generate snapshots on SonaType.  This should not be the case for branches that do not have special names.  See for example: https://oss.sonatype.org/content/repositories/snapshots/com/azavea/geotrellis/gdal-warp-bindings/33.74d335e-SNAPSHOT/

[2020-01-22 20:41] vpipkt commented on #72
For duplication with PR #76 applied, use image here https://hub.docker.com/layers/vpipkt/rasterframes-notebook/0.9.0-SNAPSHOT/images/sha256-81a664df8882cae8058850a90acb6f247c8c17cb0403ed416dd71f16c26840db

[2020-01-22 21:04] #72 closed

[2020-02-06 15:16] metasim opened #78 "Feature Request: Option to disable log message colorization"
The use of ANSI color in GDAL log and debug messages is helpful during quick
 monitoring of running jobs, but adds a lot of visual noise to filter through when doing after-the-fact analysis and forensics. The image below shows a running job on the left, and review of a log file from the previous run.

 <img width="1406" alt="Screen Shot 2020-02-06 at 10 12 26 AM" src="https://user-images.githubuse

[2020-02-10 16:38] #78 closed

[2020-02-10 21:05] metasim opened #80 "How to build bindings after environment is created"
I've successfully created the `gdal-build-environment`, but wasn't sure how to actually launch the build within it.

[2020-02-10 21:05] metasim commented on #80
FWIW, I'm attempting to build with GDAL 3.0.4

[2020-02-11 14:39] metasim commented on #78
Thank you!

[2020-02-11 14:44] metasim commented on #80
Random note: Building GDAL 3 requires (I think) Proj 6, and the whole thing started to become a hassle. Trying it out with the [Debian testing builds](https://tracker.debian.org/pkg/gdal) repo by adding this:

[code]

to `/etc/apt/sources.list.d/` and then running

[code]

[2020-02-11 15:02] jamesmcclain commented on #80
Hello, thank you for the question.

The most direct answer is that you can use the commands found in the [Travis build script](https://github.com/geotrellis/gdal-warp-bindings/blob/f746890bcb2995e17151faf954e4bb69eac672af/.travis/tests.sh#L5-L11) (possibly launching `bash` instead of invoking `make` if you want to do things more interactively).

Indirectly: I may be able to provide more useful inf

[2020-02-11 15:03] jamesmcclain commented on #78
You are welcome, enjoy.  The most recent snapshots on BinTray and SonaType contain these changes.

[2020-02-12 18:45] metasim commented on #80
Thanks James for your help. In my specific case I just needed Linux. Here are the steps I took, in case it helps.

https://github.com/locationtech/geotrellis/issues/3184#issuecomment-584866158

[2020-02-12 18:45] #80 closed

[2020-02-13 00:07] jamesmcclain commented on #80
Okay, glad to help.

[2020-02-28 18:21] pomadchin opened #82 "Consider switching to semver"
The library becomes more mature and users start to realy on it. We probably need to consider switching to semver and adding a CHANGELOG that will help users to track down any changes / bugfixes that can be critical.

[2020-03-02 17:02] pomadchin opened #83 "Add a special error code for the max attempts acceded case"
The issue https://github.com/locationtech/geotrellis/issues/3184 was hard to track down because in this case [DOIT MACRO](https://github.com/geotrellis/gdal-warp-bindings/blob/1d7ddea78f471eb5124ef780be3ee8967649e83a/src/bindings.cpp#L154) returned error code 3. To make it more transparent this exception should probably have its own unique code.

[2020-03-03 15:00] metasim commented on #82
Another helpful thing would be to tag the source at each release.

[2020-03-05 16:58] metasim opened #84 "Feature request: Provide runtime function to get a bindings identifier"
This could be version number, date, sha, etc. so that one can confirm the linked version is as desired.

[2020-03-05 16:59] metasim commented on #84
Could probably be addressed with the maven equivalent of `sbt-buildinfo`

[2020-03-11 20:05] #83 closed

[2020-03-12 02:18] echeipesh opened #88 "Static linking of MinGW libs"
Testing the bindings on windows I found dynamic linking against MinGW:

![Dependencies (x64) 3_11_2020 9_26_08 PM](https://user-images.githubusercontent.com/1158084/76480557-661c1b00-63e5-11ea-837f-e4a471f92b0c.png)

Getting installation of MinGW seems like a pretty high bar for using the bindings. At least not one I could clear with an hour of time. It looks like even locating the GDAL dll requir

[2020-03-12 14:44] echeipesh commented on #88
![Command Prompt - sbt 3_12_2020 10_42_09 AM](https://user-images.githubusercontent.com/1158084/76533384-5684ec80-644e-11ea-9f75-337213c0eb25.png)

Yup, that's enough to make it work with only GISInternals GDAL install

[2020-03-12 14:50] pomadchin commented on #88
It should be pretty straightforward to change after merging https://github.com/geotrellis/gdal-warp-bindings/pull/87 💯

[2020-03-12 14:57] echeipesh commented on #88
Note for posterity, I was not able to get it to work using `-Djava.library.path`. Adding `C:\Program Files\GDAL` to `%PATH%` did the trick though.

[2020-03-12 19:05] #88 closed

[2020-03-12 20:51] pomadchin commented on #82
I will reopen this issue. Snaphots are in a good shape, need to spend a little bit more time do debug what is wrong with the release.

[2020-03-12 22:25] pomadchin commented on #82
Released! The entire process has been tested. Closing the issue.

https://github.com/geotrellis/gdal-warp-bindings/releases/tag/v1.0.0

[2020-03-12 22:25] #82 closed

[2020-03-13 00:11] jamesmcclain opened #90 "Consider Normal and Debug Releases"
It is not clear that the code in the bindings is hot enough to warrant optimization, but if it is, then it might be helpful to [enable optimization in the build](https://github.com/geotrellis/gdal-warp-bindings/blob/master/.circleci/config.yml#L15) and also perhaps release a debug version (with the current flags) in case someone needs to report a bug.

[2020-03-13 00:17] pomadchin commented on #90
So we can publish by default with optimizations, and to have a special tags pattern for debug releases?

[2020-03-13 13:08] jamesmcclain commented on #90
That is roughly what I had in mind.

[2020-03-17 02:00] pomadchin commented on #77
The release cycle was changed after merging https://github.com/geotrellis/gdal-warp-bindings/pull/87

I think this one can be closed.

[2020-03-17 02:00] #77 closed

[2020-04-08 11:06] jamesmcclain opened #91 "Consider `dlopen(3)` as Solution to Macintosh Linkage Questions"
A possible solution to https://github.com/geotrellis/gdal-warp-bindings/issues/73 is to load the library at runtime rather than linking directly to it.

[2020-04-17 21:02] pomadchin commented on #71
We don't need to have this information; this function just determins the given sign of a `GDALCellType`, which is:

[code]

It does not expose any information about the pixel format. I'm closing this issue.

[2020-04-17 21:02] #71 closed

[2020-04-22 23:53] pomadchin opened #94 "Versioning tags release and latest are not updated on publish"
## Describe the bug ##

[maven-metadata.xml](https://repo1.maven.org/maven2/com/azavea/geotrellis/gdal-warp-bindings/maven-metadata.xml) `versioning.release` and `versioning.latest` tags are not updated:

[code]

The task is to investigate what is wrong with it, mb `nexus-staging-maven-plugin` is outdated and we need to updated up to smth more recent.

[2020-04-22 23:58] pomadchin commented on #94
I also [updated the plugin version up to 1.6.8](https://github.com/geotrellis/gdal-warp-bindings/commit/79651f923dae06ee538134941b8d4ac5701f2a6c) so it could probably help (needs to be verified though).

[2020-04-23 00:00] pomadchin commented on #94
The thing to try as well is to switch [autoReleaseAfterClose](https://github.com/geotrellis/gdal-warp-bindings/blob/master/pom.xml#L102) to `true`.

[2020-07-15 02:35] wenjunzhangp opened #95 "Who can provide gdalwarp_bindings.dll file？"
I'm working on real-time tif slicing technology, but now the project keeps reporting errors and can't find the `gdalwarp_bindings.dll` file, who can provide it, thank you~~
My email: `zhangwenjunp@126.com`

[2020-07-15 21:20] jamesmcclain commented on #95
Hello.  The Windows binaries are built against the Windows version(s) of GDAL that can be found [here](http://www.gisinternals.com/release.php).   Believe it or not, I have never personally run this code on Windows, but I am reliably informed that it does in fact work.

EDIT: Sorry, I misread your question. If you are looking for the compiled version of these bindings, you can either build them yo

[2020-07-16 01:39] wenjunzhangp commented on #95
@jamesmcclain Thanks for your reply, this is a good idea~

[2020-07-16 01:46] jamesmcclain commented on #95
@wenjunzhangp Great, glad to help.

[2020-07-16 02:51] wenjunzhangp commented on #95
My operating system is win10
My scala version is 2.12.11
My project jar package dependency management is maven
I have a piece of scalc language test code,
[code]
But running the test method will report an error,Nativeutils-xxx this temp path will change every time it runs,How can I solve this error？
[code]

[2020-07-16 12:24] jamesmcclain commented on #95
Hello, I am not able to provide much help with Windows-specific problems.  If I think of anything, I will post it here.

The phrase `Can't find dependent libraries` at the end of the error message might indicate that it cannot find your GDAL installation.  Windows binaries of GDAL can be found [here](http://www.gisinternals.com/release.php) if you do not already have these installed.

[2020-07-17 06:24] wenjunzhangp commented on #95
Thanks for your reply and help,Now when I run the code, another error will be reported
[code]
Why there is an initialization error, I did not understand~~
Ask you guys for help again, thanks~~

[2020-07-20 12:45] jamesmcclain commented on #95
This seems to have reached a satisfactory conclusion, so I am closing this issue.  Please feel free to reopen it later if you need to.

[2020-07-20 12:45] #95 closed

[2020-07-21 01:47] wenjunzhangp commented on #95
I have encountered a new error, I am trying to solve it, but it has no effect.
Thanks again for your help~

[2020-07-21 12:58] jamesmcclain commented on #95
You are welcome.

[2020-07-23 10:30] wenjunzhangp commented on #95
Hhhhhh, I gave up executing this code in windows.I have successfully run the project on linux and solved my problem.
It may be due to environmental problems, which makes it impossible to execute.
thanks~

[2020-07-23 11:04] jamesmcclain commented on #95
Okay

[2020-08-06 15:13] echeipesh opened #97 "Test GDAL 3 support with Conda"
We'd like to use conda as a way to get GDAL on EMR, we should test that it works.

[2020-08-07 21:02] pomadchin commented on #97
TODO: document the GDAL deplyment through conda EMR best practises / instructions in GT docs.
(by the end of this issue we'll need to create a new one to cover this message)

[2020-08-08 19:11] pomadchin commented on #97
https://github.com/pomadchin/vlm-performance/tree/feature/gt-3.x

1. [bootstrap.sh](https://github.com/pomadchin/vlm-performance/blob/feature/gt-3.x/emr/bootstrap.sh) (`s3://geotrellis-test/emr-gdal/bootstrap.sh`)
2. [LD_LIBRARY_PATH](https://github.com/pomadchin/vlm-performance/blob/feature/gt-3.x/build.sbt#L111-L112) Spark settings

[2020-08-20 14:57] #97 closed

[2020-11-04 17:16] CloudNiner opened #98 "MacOS Catalina fails to load libgdal.27.dylib"
## Describe the bug ##

MacOS is unable to link the `libgdal.27.dylib` when loading `GDALRasterSource` from `geotrellis-gdal` package.

Complete error:
[code]

## To Reproduce ##

This sbt project reproduces the error when the environment conditions below are satisfied.

[macos-gdal-link-failure.zip](https://github.com/geotrellis/gdal-warp-bindings/files/5489411/macos-gdal-link-failure.zip)

Unzip

[2020-11-07 01:27] jamesmcclain commented on #98
I am still interested in [this](https://github.com/geotrellis/gdal-warp-bindings/issues/91) as a solution to Macintosh linkage questions (this in spite of the fact that your stack trace shows a failure in `dlopen`).

[2020-11-10 16:55] CloudNiner commented on #91
The following is pasted from slack conversation with @jamesmcclain as the first set of steps to follow to address this issue:

Can we assume a particular file name, with the user configuring LD_LIBRARY_PATH? (James is unsure, macos is unfamiliar)

Understood. Our use case is generally to use MacOS as development environment so this isn't anticipated to be a problem. All our production systems are

[2020-11-12 22:15] CloudNiner opened #100 "Update to GDAL 3.7.x"
Once #99 is merged, so that `brew install gdal` on MacOS works out of the box again for these bindings and geotrellis.

[2020-11-12 22:17] pomadchin commented on #100
Also according to https://mvnrepository.com/artifact/org.gdal/gdal we'd need to do a fresh release every GDAL minor release.

[2020-11-13 18:25] #73 closed

[2020-11-13 19:21] CloudNiner opened #101 "Document release process"
As a checklist or list of instructions somewhere in this repo.

The current process is approximately:
- Ensure master is up to date
- Update changelog like in https://github.com/geotrellis/gdal-warp-bindings/commit/9bb786617310bd4e75950d8a0e14ed9a2f2f5952 and commit
- Tag CHANGELOG commit with `git tag -a vx.y.z -m "vx.y.z" && git push --tags`
- Wait for CI to publish release to OSS SonaType
- Log

[2020-11-13 19:40] #101 closed

[2020-11-21 06:46] hahazhu123 opened #103 "gdalwarp_bindings.dll: Can't find dependent libraries"
## Describe the bug ##

when I run this code, throw an Exception:
[code]

## To Reproduce ##

Steps to reproduce the behavior:
1. add `gdal-warp-bindings` to pom.xml
2. run a GdalTest class
3. throw Exception like this: gdalwarp_bindings.dll: Can't find dependent libraries

## Expected behavior ##

Exception like this:
[code]

## Environment ##

 - OS: Win 10
 - JVM version: 1.8
 - GDAL version: n

[2020-11-21 07:51] hahazhu123 commented on #103
I got it, must install GDAL, then works.

[2020-11-21 07:51] #103 closed

[2020-12-07 13:59] jamesmcclain opened #104 "Windows Information in README"
The windows version requires installation of the GDAL distributed from https://www.gisinternals.com/ .  I think that perhaps that should be added to the first table that appears in README.

![table](https://user-images.githubusercontent.com/11281373/101359550-6fe68800-386a-11eb-9c70-4db85c4dbe84.png)

[2020-12-07 19:56] CloudNiner opened #105 "GDALRasterSource unable to read PAM metadata files"
GDALRasterSource, using these bindings, throws an error when attempting to read metadata for files that use the PAM xml metadata specification.

Open a GeoTrellis 3.5.1+ SBT console:
[code]

The try to read metadata of a tiff with external PAM metadata using GDALRasterSource
[code]

See:
- s3://aviris-data/test/f130329t01p00r06_corr_v1.tiff
- s3://aviris-data/test/f130329t01p00r06_corr_v1.tiff.aux

[2020-12-07 20:49] pomadchin commented on #105
Probably connected with https://github.com/geotrellis/gdal-warp-bindings/issues/70

[2020-12-07 21:14] pomadchin commented on #105
It looks like the issue happens [on this line](https://github.com/locationtech/geotrellis/blob/master/gdal/src/main/scala/geotrellis/raster/gdal/GDALMetadata.scala#L57) when we try to access band 0 metadata:

[code]

However [the following part still works](https://github.com/locationtech/geotrellis/blob/master/gdal/src/main/scala/geotrellis/raster/gdal/GDALMetadata.scala#L58):

[code]

[2021-04-25 20:17] jamesmcclain commented on #100
Once again advertising #91 as a solution to this (would leave Windows behind, though).

[2021-05-14 01:44] jamesmcclain commented on #91
https://stackoverflow.com/questions/62705287/win32-equivalent-of-dlopennull

[2021-05-14 14:35] jamesmcclain opened #106 "Investigate/create aarch64-linux-gnu Port"

[2021-05-26 12:28] #106 closed

[2021-05-26 13:08] jamesmcclain opened #108 "Update Build Instructions in README"

[2021-05-27 14:07] #108 closed

[2021-06-04 05:46] stjimreal commented on #70
The new way to support HDF in GT 3.x  is posted here:
1. add sbt dependency:`libraryDependencies ++= Seq("org.locationtech.geotrellis" %% "geotrellis-raster" % "3.6.0",
  "org.locationtech.geotrellis" %% "geotrellis-gdal" % "3.6.0")`
2. Here is my example to connect a HDF dataset:

Supposed this is your data:
[code]

Try APIs with `SUBDATASET_1_NAME`'s **fullname** and **replace** filename with `p

[2021-06-04 06:13] stjimreal commented on #70
And this is a temporary solution according to @pomadchin.

[2022-01-04 20:01] pomadchin opened #110 "Configurable LRUCache size"
Right now the Cache size is [limited by 256](https://github.com/geotrellis/gdal-warp-bindings/blob/v1.1.1/src/main/java/com/azavea/gdal/GDALWarp.java#L142). It should be configurable somehow, mb it makes sense to make init explicit / to make it the client problem.

[2022-07-14 01:22] pomadchin opened #112 "Release 1.2.0 with the initial ARM support"
I'm pretty interested in the fresh release (even as is) that includes this PR https://github.com/geotrellis/gdal-warp-bindings/pull/107.
It's still not Mac M1 support which could be ideal, but better than nothing: simplifies (performance-wise) binaries usage in ARM docker.

[2022-07-31 22:24] jamesmcclain commented on #112
Okay, I'll see if I can add this to next sprint :+1:

[2022-07-31 22:35] jamesmcclain commented on #112
@pomadchin Can you get in touch with me via email or some other way and update me on what the procedure is for cutting releases is?  I believe that some things have changed and I no longer know how to do it.

[2022-07-31 23:01] pomadchin commented on #112
Yo @jamesmcclain i think it’s just pushing the non lightweight (tag with a message, `git tag -a v1.2.0 -m "v1.2.0"` ) version tag!

I don’t remember if you still need to publish artifact manually from the staging maven repository (https://oss.sonatype.org/#stagingRepositories) though

[2022-07-31 23:03] jamesmcclain commented on #112
Okay, got it.  Quesiton for you: why is the CI trying to publish artifacts from PR branches (running `build-publish` on PRs)?  Shouldn't it only be doing that from `master` after a merge?  I'm looking at this: https://github.com/geotrellis/gdal-warp-bindings/blob/master/.circleci/config.yml#L189

[2022-07-31 23:05] jamesmcclain commented on #112
Ah, never mind -- it seems to do the right thing when I make a PR from my own fork of the project.

[2022-07-31 23:07] pomadchin commented on #112
yea, there are these lines: https://github.com/geotrellis/gdal-warp-bindings/blob/master/.circleci/config.yml#L139-L146

It publishes packages from branches in case its not a fork as well. It creates artifacts versioned properly, i.e. `1.1.2-pull_114-SNAPSHOT` and publishes to the sonatype snapshots repo

[2022-07-31 23:08] jamesmcclain commented on #112
I just updated the changelog.  Will wait for the CI to finish then push the tag

[2022-07-31 23:10] jamesmcclain commented on #112
The publish target failed when I merged the PR branch.  Is that expected?

[2022-07-31 23:10] pomadchin commented on #112
check the GPG Key! Its expired?

Really it needs any valid GPG key, there is always an option to generate the new Azavea GPG key and sign artifacts with it.

[2022-07-31 23:11] jamesmcclain commented on #112
I don't see one in the environment (not sure that I am looking in the right place)

[2022-07-31 23:12] pomadchin commented on #112
This is the palce: https://app.circleci.com/settings/project/github/geotrellis/gdal-warp-bindings/environment-variables?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fgeotrellis%2Fgdal-warp-bindings

I think it is the old GPG key that's been set by _former_ ops.

[2022-07-31 23:13] jamesmcclain commented on #112
Are you able to get on gitter real fast?

[2022-08-01 19:01] jamesmcclain commented on #112
@pomadchin I will not be able to do the release today.  I have a new key generated and working, but I am now encountering a different problem with gpg in CircleCI:
[code]
There is an error there about a required environment variable being set -- I can see people complaining about this happening in CircleCI, but I don't see a clear solution.  I was getting an error previously about the tty not bein

[2022-08-01 19:09] pomadchin commented on #112
@jamesmcclain I'll take a look mb later today, just to double check, did you base64 encode the GPG key?

[2022-08-01 19:13] jamesmcclain commented on #112
@pomadchin Yup, the key import (both from the keyserver and from the enviornment variable) is working.  The problem that I cited seems to be coming from an invocation of gpg within mvn (that is just what it seems, not 100% sure).

[2022-08-02 03:02] pomadchin commented on #112
@jamesmcclain do you have the GPG_PASSPHRASE set? Or this key is without a passphrase?

[2022-08-02 14:43] jamesmcclain commented on #112
@pomadchin The passpharase is set and in the environment

[2022-08-02 14:44] pomadchin commented on #112
@jamesmcclain if there is a passphrase, then maven requires extra configurations, check this out https://github.com/geotrellis/gdal-warp-bindings/pull/116#issuecomment-1202705325

[2022-08-02 15:18] jamesmcclain commented on #112
@pomadchin Okay, the build is succeeding now with the new key, many thanks.  I just pushed the 1.2.0 tag but the CI was not automatically triggered.  I restarted the CI on the tip of master hoping that that will push the release but it did not.

Are the release instructions up to date in that regard?  Is further configuration needed to get the CI to push the release?

[2022-08-02 15:20] pomadchin commented on #112
Hey @jamesmcclain, the tag should start with `v`, `git tag -a v1.2.0 -m "v1.2.0"`

vs 1.2.0 right now https://github.com/geotrellis/gdal-warp-bindings/tree/1.2.0

[2022-08-02 15:45] jamesmcclain commented on #112
@pomadchin  Okay, it has been released.  Many thanks :+1:

[2022-08-02 15:45] #112 closed

[2022-11-29 19:34] jdries opened #118 "Crash when CPL_DEBUG=ON"
## Describe the bug ##

When reading multiple jpeg2000 files and CPL_DEBUG=ON, the jvm crashes with this error.
Turning off CPL_DEBUG seems to solve it.
[code]